backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.6.0
cached-property==1.4.0
certifi==2018.1.18
chardet==3.0.4
click==6.7
docker==2.7.0
docker-compose==1.19.0
docker-pycreds==0.2.2
dockerpty==0.4.1
docopt==0.6.2
enum34==1.1.6
Flask==0.12.2
functools32==3.2.3.post2
gunicorn==19.7.1
html5lib==0.999999999
idna==2.6
ipaddress==1.0.19
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
lxml==4.2.0
MarkupSafe==1.0
numpy==1.13.3
pandas==0.22.0
pathlib==1.0.1
pbr==3.1.1
psutil==5.4.2
pycairo==1.16.2
pygobject==3.26.1
python-dateutil==2.7.2
pytz==2018.3
PyYAML==3.12
requests==2.18.4
scour==0.36
six==1.11.0
stevedore==1.28.0
texttable==0.9.1
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
webencodings==0.5
websocket-client==0.47.0
Werkzeug==0.14.1
