.chart-container {
    width: 400px;
    height: 400px;
}

.card {
    border-radius: 6px;
    transition: 0.5s ease;
    margin-top: 100px;
}

.card:hover {
    position: relative;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.logo-link {
    text-align: center;
    margin-top: 15px;
}

.logo {
    background: #fff;
    height: 110px;
    text-align: center;
    box-shadow: 0 3px 20px 0 #c5c5c5;
    padding: 31px;
}

.section {
    max-width: 100%;
    margin: 10px auto;
    padding: 0 80px;
}

.title {
    margin-top: 20px;
    text-align: center;
    color: #2a2a2a;
    font-family: 'Roboto', sans-serif;
}

.footer {
    padding: 1em;
    color: #2a2a2a;
    clear: left;
    text-align: center;
}

.footer a {
    color: #2a2a2a;
    float: right;
    font-family: 'Roboto', serif;
}

/*-------------------------------------*/
.label-empleado {
    margin: 0;
    text-align: center;
}

.label-empleado label {
    font-size: 32px;
}

.label-empleado .label-semana label {
    font-size: 24px;
}

/*-------------------------------------*/
.wrapper {
    background-color: #edf2fb;
    margin: 60px;
    border: 0px solid #000;
    -webkit-box-shadow: 0 3rem 2rem -2rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 3rem 2rem -2rem rgba(0, 0, 0, 0.2);
}

.wrapper .wrap-tittle {
    text-align: center;
    background-color: #97baf7;
    padding: 30px;
    color: #fff;
}

.wrap-carga {
    display: table;
    width: 100%;
    padding: 10px;
}

.wrap-carga .wrap-carga-datos {
    width: 20%;
    padding: 5px 5px 5px 5px;
    display: table-cell;
    background-color: #fff;
    border: 5px solid #edf2fb;
}

.wrap-carga .wrap-carga-datos p {
    color: #000;
    background-color: #edf2fb;
    text-align: center;
    padding: 5px;
    width: 100%;
}

.wrap-carga .wrap-carga-datos input[type="file"] {
    width: 100%;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    margin-bottom: 20px;
}

input[type="submit"] {
    margin: 15px;
    background-color: #007bff;
    padding: 10px 40px;
    border: none;
    border-bottom: 3px solid #003875;
    color: #fff;
    border-radius: 3px 3px 3px 3px;
    transition: all 0.5s;
}

input[type="submit"]:hover {
    background-color: #006fe4;
}

@media (max-width: 810px) {
    .wrap-carga .wrap-carga-datos {
        display: table-row;
        padding: 10px;
    }

    .wrap-carga .wrap-carga-datos input[type="file"] {
        padding: 10px;
    }

    input[type="submit"] {
        margin: 10px;
    }
}