<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sissa</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css">
</head>
<body>

{% block content %}{% endblock%}


<script src="/static/js/lib/jquery-3.3.1.min.js" ></script>
<script src="/static/js/lib/bootstrap.bundle.min.js"></script>
<script src="/static/js/lib/Chart.bundle.min.js" ></script>
<script type="application/javascript" src="static/js/index.js"></script>
<script>
var p = document.getElementById('myChart').getContext('2d');
var e = document.getElementById('Chart').getContext('2d');

var mychart = new Chart(p, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: [{% for item in header %}
                  "{{item}}",
              {% endfor %}],
        datasets: [{
            label: "Produccion",
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [{% for item in production %}
                        {{item}},
                    {% endfor %}],
        }]
    },

    // Configuration options go here
    options: {
        responsive: true
    }

})

var mychart2 = new Chart(e, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: [{% for nombre in header %}
                      "{{nombre}}",
                    {% endfor %}],
        datasets: [{
            label: "L1",
            borderColor: 'rgb(255, 99, 132)',
            data: [{% for t1 in tipo1 %}
                      {{t1}},
                  {% endfor %}],

        },
      {
        label: "L2",
        borderColor: '#007bff',
        data: [{% for t2 in tipo2 %}
                  {{t2}},
              {% endfor %}],
      }]
    },

    // Configuration options go here
    options: {
        responsive: true,

    }

});

</script>
</body>
</html>
