{% extends "base.html" %}
{% block content %}

    <div class="container-fluid p-0">
    <div class="logo">
        <a class="logo-link" href="#">
            <img class="img-fluid" src="static/img/logo_header.png" alt="logo nortech">

        </a>
    </div>

    <div class="section container-fluid">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-md-12">
              <h1 class="title">Produccion</h1>
                <canvas id="myChart"></canvas>
            </div>
              <div class="col-lg-6 col-sm-12 col-md-12">
                <h1 class="title">Errores</h1>
                  <canvas id="Chart"></canvas>
              </div>
        </div>
    </div>

  <div class="footer">
    Copyright &copy; Sissa.s.a
    <a href="/login">Login</a>
  </div>
</div>


{% endblock %}
