<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Graph</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body>

<div class="container-fluid p-0">
    <div class="logo">
        <a class="logo-link" href="#">
            <img class="img-fluid" src="static/img/nortech.png" alt="logo nortech">

        </a>
    </div>

    <div class="section">
        <h1 class="title">Production</h1>
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-md-12">
                <canvas id="myChart2"></canvas>
            </div>
            <div class="col-lg-6 col-sm-12 col-md-12">
                <canvas id="Chart2"></canvas>
            </div>
        </div>
        <h1 class="title">Fallos</h1>
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-md-12">
                <canvas id="myChart"></canvas>
            </div>
            <div class="col-lg-6 col-sm-12 col-md-12">
                <canvas id="Chart"></canvas>
            </div>
        </div>
    </div>


</div>

<script src="/static/jquery-3.3.1.min.js" ></script>
<script src="/static/bootstrap.bundle.min.js"></script>
<script src="/static/js/lib/Chart.bundle.min.js" ></script>
<script type="application/javascript" src="static/js/index.js"></script>
</body>
</html>
